* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  max-height: 100%;
}

header .header_top {
  background-color: #0282f9;
  font-size: 0.7rem;
  color: #ffffff;
}
header .header_top .contents {
  width: 70%;
  margin: 0 auto;
}
header .header_top .contents ul {
  display: flex;
  justify-content: flex-end;
}
header .header_top .contents ul li {
  padding: 0.5rem 0;
}
header .header_top .contents ul li:first-child {
  padding: 0.5rem 1rem;
}
header .header_contents {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_contents .logo-container {
  width: 60px;
  flex-shrink: 0;
}
header .header_contents nav {
  display: flex;
  align-items: center;
}
header .header_contents nav ul {
  display: flex;
}
header .header_contents nav ul li {
  padding: 0 1rem;
  border-bottom: 5px solid transparent;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 95px;
}
header .header_contents nav ul li:hover {
  border-color: #0282f9;
  color: #0282f9;
}
header .header_contents nav .search-container {
  padding-left: 1rem;
  border-bottom: 2px solid transparent;
}
header .header_contents nav .search-container:focus-within {
  border-color: #0282f9;
}
header .header_contents nav .search-container input {
  max-width: 100px;
  border: 0;
  text-align: right;
  font-size: 1rem;
}
header .header_contents nav .search-container input:focus-visible {
  outline: 0;
}
header .header_contents nav .search-container i {
  color: #797979;
}

main {
  background-color: #1c1c1c;
}
main .banner {
  width: 100%;
  height: 320px;
  background-image: url("../images/jumbotron.jpg");
  background-position: top;
  background-size: cover;
}
main .main-contents {
  color: #ffffff;
}
main .main-contents .container {
  width: 70%;
  margin: 0 auto;
}
main .main-contents .container .title {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0282f9;
  transform: translateY(-50%);
}
main .main-contents .container .btn-home {
  padding: 1rem 0 0;
}
main .main-contents .container .btn-home:hover {
  text-decoration: underline;
  color: #0282f9;
}
main .main-contents .container .contents {
  padding-bottom: 1rem;
  font-size: 0.7rem;
}
main .main-contents .container .contents ul {
  display: flex;
  flex-wrap: wrap;
}
main .main-contents .container .contents ul .card {
  width: 11.5vw;
  padding: 0.5rem;
}
main .main-contents .container .contents ul .card_img {
  height: 11.5vw;
}
main .main-contents .container .contents ul .card_img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .main-contents .container .contents ul .card_title {
  padding: 1rem 0;
  text-transform: uppercase;
}
main .main-contents .container .contents .btn-container {
  text-align: center;
}
main .main-contents .container .contents .btn-container a {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  background-color: #0282f9;
  font-weight: bold;
}
main .main-contents .container .contents .btn-container a:hover {
  text-decoration: underline;
}
main .main-contents .container .comics_contents {
  padding: 2rem 0;
}
main .main-contents .container .comics_contents ul .card_comics {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
main .main-contents .container .comics_contents ul .card_comics .card_img {
  width: 30%;
}
main .main-contents .container .comics_contents ul .card_comics ul.card_info {
  width: 50%;
  padding-left: 1.5rem;
}
main .main-contents .container .comics_contents ul .card_comics ul.card_info li {
  padding: 0.5rem 0;
}
main .main-contents .container .comics_contents ul .card_comics ul.card_info li strong {
  color: #0282f9;
}
main .main-contents .main_menu {
  padding: 4rem 0;
  background-color: #0282f9;
}
main .main-contents .main_menu nav {
  width: 70%;
  margin: 0 auto;
}
main .main-contents .main_menu nav ul {
  display: flex;
  justify-content: space-around;
}
main .main-contents .main_menu nav ul li {
  display: flex;
  align-items: center;
}
main .main-contents .main_menu nav ul li .img-container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}
main .main-contents .main_menu nav ul li .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
}
main .main-contents .main_menu nav ul li .text {
  padding-left: 0.2rem;
  font-size: 0.8rem;
}

footer a:hover {
  text-decoration: underline;
}
footer .footer_top {
  padding: 3rem 0;
  background-image: url("../images/footer-bg.jpg");
  overflow: hidden;
}
footer .footer_top .container {
  position: relative;
  width: 70%;
  display: flex;
  margin: 0 auto;
}
footer .footer_top .container .left {
  width: 50%;
  display: flex;
  align-self: flex-start;
}
footer .footer_top .container .left ul {
  margin-bottom: 1rem;
  padding-right: 1rem;
}
footer .footer_top .container .left ul li.title {
  color: #ffffff;
  margin-bottom: 1rem;
}
footer .footer_top .container .left ul li.link {
  color: #797979;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}
footer .footer_top .container .right {
  position: absolute;
  top: -25%;
  right: 30%;
  transform: translateX(50%);
  width: 50%;
}
footer .footer_top .credits {
  width: 70%;
  margin: 0 auto;
  font-size: 0.7rem;
  color: #797979;
}
footer .footer_top .credits a {
  color: #0282f9;
}
footer .footer_bottom {
  padding: 1rem 0;
  background-color: #303030;
}
footer .footer_bottom .container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_bottom .container a {
  font-weight: bold;
}
footer .footer_bottom .container .left {
  color: #ffffff;
}
footer .footer_bottom .container .left a {
  display: inline-block;
  padding: 1rem;
  border: 2px solid #0282f9;
}
footer .footer_bottom .container .right {
  display: flex;
  align-items: center;
}
footer .footer_bottom .container .right a {
  color: #0282f9;
}
footer .footer_bottom .container .right ul {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
footer .footer_bottom .container .right ul li {
  padding: 0 0.7rem;
}