footer {
    a:hover {
        text-decoration: underline;
    }

    .footer_top {
        padding: 3rem 0;
        background-image: url("../images/footer-bg.jpg");

        .container {
            position: relative;
            width: $general_width;
            display: flex;
            margin: 0 auto;

            .left {
                width: 50%;
                display: flex;
                align-self: flex-start;

                ul {
                    margin-bottom: 1rem;
                    padding-right: 1rem;

                    li {
                        &.title {
                            color: $app_white;
                            margin-bottom: 1rem;
                        }

                        &.link {
                            color: $app_lightgrey;
                            margin-bottom: .3rem;
                            font-size: .9rem;
                        }
                    }
                }

            }

            .right {
                position: absolute;
                top: -25%;
                right: 30%;
                transform: translateX(+50%);
                width: 50%;
            }
        }

        .credits {
            width: $general_width;
            margin: 0 auto;
            font-size: .7rem;
            color: $app_lightgrey;

            a {
                color: $app_lightblue;
            }
        }

    }

    .footer_bottom {
        position: relative;
        z-index: 99;
        padding: 1rem 0;
        background-color: $footer-grey;

        .container {
            width: $general_width;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-weight: bold;
            }

            .left {
                color: $app_white;

                a {
                    display: inline-block;
                    padding: 1rem;
                    border: 2px solid $app_lightblue;
                }
            }

            .right {
                display: flex;
                align-items: center;

                a {
                    color: $app_lightblue;
                }

                ul {
                    display: flex;
                    align-items: center;
                    padding-left: 1rem;

                    li {
                        padding: 0 .7rem;
                    }
                }
            }
        }

    }
}