header {
    .header_contents {
        width: $general_width;
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
        align-items: center;

        .logo-container {
            width: 80px;
            flex-shrink: 0;
        }

        nav {
            ul {
                display: flex;

                li {
                    padding: 0 .5rem;
                }
            }
        }
    }
}