main {
    background-color: $app-black;

    .banner {
        width: 100%;
        height: 320px;
        background-image: url("../images/jumbotron.jpg");
        background-position: top;
        background-size: cover;
    }

    .main-contents {
        color: $app_white;

        .container {
            width: $general_width;
            margin: 0 auto;

            .title {
                display: inline-block;
                padding: 1rem 2rem;
                background-color: $app_lightblue;
                transform: translateY(-50%);
            }

            .btn-home {
                padding: 1rem 0 0;

                &:hover {
                    text-decoration: underline;
                    color: $app_lightblue;
                }
            }

            .contents {
                padding-bottom: 1rem;
                font-size: .7rem;

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    .card {
                        width: $card_width;
                        padding: .5rem;

                        &_img {
                            height: $card_width;

                            img {
                                object-fit: cover;
                                object-position: top;
                            }
                        }

                        &_title {
                            padding: 1rem 0;
                            text-transform: uppercase;
                        }
                    }
                }

                .btn-container {
                    text-align: center;

                    a {
                        display: inline-block;
                        padding: .5rem 2.5rem;
                        background-color: $app_lightblue;
                        font-weight: bold;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .comics_contents {
                padding: 2rem 0;

                ul {
                    .card_comics {
                        display: flex;
                        align-items: center;
                        padding: 1.5rem;
                        transition: all .5s linear;
                        cursor: pointer;

                        &:hover {
                            margin: 5rem 0;
                            border-radius: 30px;
                            box-shadow: 10px 10px 100px $app_lightblue;
                        }

                        .card_img {
                            width: 30%;
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            overflow: hidden;
                        }

                        ul.card_info {
                            max-width: 70%;
                            padding-left: 1.5rem;

                            li {
                                padding: .5rem 0;

                                strong {
                                    color: $app_lightblue;
                                }

                                span {
                                    font-size: .9rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main_menu {
            padding: 4rem 0;
            background-color: $app_lightblue;

            nav {
                width: $general_width;
                margin: 0 auto;

                ul {
                    display: flex;
                    justify-content: space-around;

                    li {
                        display: flex;
                        align-items: center;

                        .img-container {
                            width: 60px;
                            height: 60px;
                            display: flex;
                            align-items: center;

                            img {
                                object-fit: contain;
                            }
                        }

                        .text {
                            padding-left: .2rem;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }
}